#skills {
  background: url(../../assets/images/circuits.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
}

.skill-icon {
  max-height: 100%;
  max-width: 100%;
}

.icon-container {
  height: 50%;
}

.grid-container {
    display: grid;
    justify-content: center;
}

@media only screen and (min-width: 992px) {
 .grid-element {
    padding: 20px;
    margin: 20px;
    color: #fff;
    width: 170px;
    height: 200px;
    margin: 0 auto;
  }

  .grid-container--fill {
    grid-template-columns: repeat(auto-fit, 190px);
}
} 

@media only screen and (max-width: 991px) {
    .grid-element {
      color: #fff;
      width: 120px;
      height: 150px;
      margin: 0 auto;
    }
    .grid-container--fill {
      grid-template-columns: repeat(auto-fit, 130px);
    }
}

.star-ratings-css {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 25px;
  height: 25px;
  width: 100px;
  margin: 0 auto;
  position: relative;
  padding: 0;
  text-shadow: 0px 1px 0 #a2a2a2;
}
  
.star-ratings-css-top {
  color: #e7711b;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: block;
  top: 0;
  left: 0;
  overflow: hidden;
}
.star-ratings-css-bottom {
  padding: 0;
  display: block;
  z-index: 0;
}
