#projects {
  background: url(../../assets/images/birdseye-desk.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
}

.actions {
    margin: 20px auto;
}