<section class="resume-component position-relative bg-light" id="projects">
  <div class="text-center section-head mb-3">
    <h1 class="display-4"><span>Projects</span></h1>
  </div>

  <div class="container shadow-sm bg-light item item-left" id="test">
    <div class="row item-title ml-2">
      <h1 class="display-5">Cosmic Quest: Order & Chaos</h1>
    </div>
    <div class="row block-sm m-0">
      <div class="col-3 text-center position-relative align">
        <img src="../../assets/images/VACATe.png" alt="" class="thumbnail">
      </div>
      <div class="col-9 align-fix">
        <b>Description</b>
        <ul class="item-description">
          <li><i>Cosmic Quest: Order & Chaos</i> is my and four other team members' capstone project at McMaster University</li>
          <li>The game is a couch co-op (2-4 players) dungeon crawler, where good coordination and cooperation between team members are needed to succeed.</li>
          <li>The game takes place in space, and players travel from solar system to solar system defeating enemies and purifying corrupted stars.</li>
        </ul>
        <b>Developed With:</b> Unity Engine, C#, Blender
      </div>
    </div>
    <div class="row actions">
      <div class="btn-group">
        <a class="btn btn-outline-danger rounded-pill btn-lg mr-2" href="https://github.com/olejarza/VACATe" target="_blank">Code</a>
        <a class="btn btn-outline-danger rounded-pill btn-lg" href="https://streamable.com/wsrkv" target="_blank">Trailer</a>
      </div>
    </div>
  </div>

  <div class="container shadow-sm bg-light item item-right">
    <div class="row item-title ml-2">
      <h1 class="display-5">Knockout</h1>
    </div>
    <div class="row block-sm m-0">
      <div class="col-3 text-center position-relative align">
        <img src="../../assets/images/knockout.PNG" alt="" class="thumbnail">
      </div>
      <div class="col-9 align-fix">
        <b>Description</b>
        <ul class="item-description">
          <li>The purpose of the Knockout was to learn about the basics of game development, including requirements specification, background research, programming, and asset acquisition.</li>
          <li>Knockout is a simple fighting game with one goal: knock your opponent off the stage!</li>
          <li>The game is inspired by various games from my childhood, including Super Smash Bros. and Super Monkey Ball</li>
        </ul>
        <b>Developed With:</b> Unity Engine, C#
      </div>
    </div>
    <div class="row actions">
      <div class="btn-group">
         <a class="btn btn-outline-danger rounded-pill btn-lg mr-2" href="https://github.com/trudeaua/Knockout" target="_blank">Code</a>
         <a class="btn btn-outline-danger rounded-pill btn-lg" href="https://github.com/trudeaua/Knockout/releases/tag/v0.1-alpha" target="_blank">Demo</a>
      </div>
    </div>
  </div>

  <div class="container shadow-sm bg-light item item-left">
    <div class="row item-title ml-2">
      <h1 class="display-5">Reddit Clone</h1>
    </div>
    <div class="row block-sm m-0">
      <div class="col-3 text-center position-relative align">
        <img src="../../assets/images/reddit-clone.png" alt="" class="thumbnail">
      </div>
      <div class="col-9 align-fix">
        <b>Description</b>
        <ul class="item-description">
          <li>Reddit Clone was implemented to learn about software project management and the software development life cycle.</li>
          <li>The goal of the project was to modernize the outdated UI that the popular content aggregator, <a href="https://www.reddit.com"
              target="_blank">reddit.com</a>, had at the time.</li>
          <li>My team and I gave a live demo of the application during the project presentation, where we had the class sign
            up for accounts and make posts as we presented. The interactive component of the presentation made us stand out
            from the rest of the groups and made for an effective demo.</li>
        </ul>
        <b>Developed With:</b> Ionic Framework 2, Angular 2, Firebase
      </div>
    </div>
    <div class="row actions">
      <div class="btn-group">
         <a class="btn btn-outline-danger rounded-pill btn-lg" href="https://reddit-clone-ced0e.web.app/" target="_blank">Demo</a>
      </div>
    </div>
  </div>

    <div class="container shadow-sm bg-light item item-right">
    <div class="row item-title ml-2">
      <h1 class="display-5">Life Battery</h1>
    </div>
    <div class="row block-sm m-0">
      <div class="col-3 text-center position-relative align">
        <img src="../../assets/images/life-battery.webp" alt="" class="thumbnail">
      </div>
      <div class="col-9 align-fix">
        <b>Description</b>
        <ul class="item-description">
          <li>Life Battery is an Android app that uses life expectancy data from around the world to determine approximately how long you will live for.</li>
          <li>The app displays a slowly (but constantly) draining battery to indicate how much "battery" you have left</li>
        </ul>
        <b>Developed With:</b> Ionic Framework 2, Angular 2
      </div>
    </div>
    <div class="row actions">
      <div class="btn-group">
         <a class="btn btn-outline-danger rounded-pill btn-lg mr-2" href="https://github.com/trudeaua/Life-Battery" target="_blank">Code</a>
         <a class="btn btn-outline-danger rounded-pill btn-lg" href="https://play.google.com/store/apps/details?id=com.trudeaua.lifebattery&hl=en_CA" target="_blank">Demo</a>
      </div>
    </div>
  </div>

  <div class="container shadow-sm bg-light item item-left">
    <div class="row item-title ml-2">
      <h1 class="display-5">Tour Guide</h1>
    </div>
    <div class="row block-sm m-0">
      <div class="col-3 text-center position-relative align">
        <img src="../../assets/images/tour-guide.png" alt="" class="thumbnail">
      </div>
      <div class="col-9 align-fix">
        <b>Description</b>
        <ul class="item-description">
          <li>Tour Guide allows you to generate a shortest-path tour route around a start location, and select a number of different categories of locations that you would like to see around that city.</li>
          <li>The tour route generation algorithm uses Dijkstra's shortest path algorithm to compute the shortest path between all points on the route.</li>
          <li>This project served as an introduction to UI design, Java application development, and algorithms.</li>
        </ul>
        <b>Developed With:</b> Java, JxMaps, Java Swing, Google APIs
      </div>
    </div>
    <div class="row actions">
      <div class="btn-group">
         <a class="btn btn-outline-danger rounded-pill btn-lg" href="https://github.com/geomanuel/Tour-Guide" target="_blank">Code</a>
      </div>
    </div>
  </div>

</section>