<!--About-->
  <section class="resume-component position-relative bg-light" id="intro">
    <div class="container flex-center-vertically intro-card">
      <div class="row justify-content-center">
        <img src="../../assets/images/profile-pic-zoom.png" alt="" class="profile-pic fade">
        <div class="col-md-12 text-left align-self-center text-intro">
          <div class="row shadow-sm p-3 mb-5 bg-light rounded-right">
            <div class="col">
              <h1 class="text-black display-4 text-sm">Hi, I'm Alex Trudeau</h1>
              <p class="lead">Software Engineering & Game Design Student From Mississauga, ON</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!--Skills-->
<section class="resume-component position-relative bg-light" id="skills">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 mt-lg-5 text-left align-self-center text-intro">
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Python</h5>
                <p class="card-text">I use Python all the time!</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Angular2+</h5>
                <p class="card-text">This website's front end is built with Angular 8!</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">.NET Core Web Applications</h5>
                <p class="card-text">This website is built as a .NET Core Web Application!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Personal Projects-->
<section class="resume-component position-relative bg-light" id="projects">
  <div class="container bg-light card" id="contact-form">
    <div class="row justify-content-center">
      <div class="col-md-12 mb-2 mt-2 text-center align-self-center">
        <h1 class="display-4">Projects</h1>
      </div>
    </div>
  </div>
</section>
<!--Work Experience-->
<section class="resume-component position-relative bg-light" id="experience">
  <div class="container bg-light card" id="contact-form">
    <div class="row justify-content-center">
      <div class="col-md-12 mb-2 mt-2 text-center align-self-center">
        <h1 class="display-4">Experience</h1>
      </div>
    </div>
  </div>
</section>
<!--Education-->
<section class="resume-component position-relative bg-light" id="education">
  <div class="container bg-light card" id="contact-form">
    <div class="row justify-content-center">
      <div class="col-md-12 mb-2 mt-2 text-center align-self-center">
        <h1 class="display-4">Education</h1>
      </div>
    </div>
  </div>
</section>
<!--Contact-->
<section class="resume-component position-relative bg-light" id="contact">
  <div class="container bg-light card" id="contact-form">
    <div class="row justify-content-center">
      <div class="col-md-12 mb-2 mt-2 text-left align-self-center">
        <div class="text-center">
          <div class="display-4">
            Contact Me
          </div>
          <p class="lead">Fill out the form below to shoot me a message, and I'll get back to you as soon as I can!</p>
        </div>
        <form>
          <div class="form-group">
            <label for="emailInput">Email Address</label>
            <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp" placeholder="Enter your email">
            <small id="emailHelp" class="form-text text-muted">Your email will never be shared with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="nameInput">Name</label>
            <input type="text" class="form-control" id="nameInput" placeholder="Enter your name">
          </div>
          <div class="form-group">
            <label for="messageInput">Message</label>
            <textarea type="text" class="form-control" id="messageInput" placeholder="Enter your message"></textarea>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary btn-lg rounded-pill">Send Message</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
