.resume-component {
  min-height: 100vh;
  padding-top: 57px;
  position: relative;
}

.profile-pic.fade {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;

    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#intro {

}

#intro::before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.8;
  background: url(../../assets/images/code.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
}

#skills {
  background: url(../../assets/images/circuits.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
}

#projects {
  
}

#experience {
  background: url(../../assets/images/geometric.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
}

#education {
  
}

#contact {
  background: url(../../assets/images/peggy.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
}

#contact-form {
  
}

.text-intro {
  position: relative;
  z-index: 2;
}
@media only screen and (min-width: 1025px) {
  .profile-pic {
    position: absolute;
    right: 15%;
    bottom: 0;
    z-index: 1;
    max-height: 90vh;
    max-width: 50vw;
    opacity: 1 !important;
  }
  .intro-card {
    margin-left: 0;
    width: 50%;
  }
  .flex-center-vertically {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 400px;
  }
}
@media only screen and (max-width: 1024px) {
  .profile-pic {
    position: relative;
    z-index: 1;
    max-height: 70vh;
    max-width: 50vw;
    opacity: 1 !important;
  }
  .text-sm {
    font-size: 2rem !important;
  }
  
}
