<section class="resume-component position-relative bg-light" id="experience">
  <div class="text-center section-head mb-3">
    <h1 class="display-4"><span>Experience</span></h1>
  </div>

  <div class="container shadow-sm bg-light rounded-right p-3 ml-0 mt-4 experience">
    <div class="row experience-title ml-2">
      <h1 class="display-5">BDO Canada, LLP</h1>
    </div>
    <div class="row experience-title ml-2">
      <p class="lead">Development Services, Machine Learning, & Mobile Application Developer Intern</p>
    </div>
    <div class="row block-sm m-0">
      <div class="col-3 text-center position-relative align">
        <img src="../../assets/images/bdo.png" alt="" class="thumbnail">
      </div>
      <div class="col-9 align-fix">
        <b>May 2019 - September 2019</b>
        <ul class="item-description">
          <li>Worked closely with HR and QA through the software development life cycle to develop and deploy a mobile app</li>
          <li>Researched and implemented best practices for developing, documenting, and testing an Angular .NET Core MVC web
            application
          </li>
          <li>Led team learning workshop sessions focused around machine learning and Angular 8</li>
        </ul>
        <b>May 2018 - September 2018</b>
        <ul class="item-description">
          <li>
            Used problem solving and research skills to build a prototype deep learning model for automated document processing
          </li>
          <li>
            Showed leadership and communication by training fellow employees on deep learning and project maintenance
          </li>
        </ul>
        <b>May 2017 - September 2017</b>
        <ul class="item-description">
          <li>
            Researched and designed a number of prototype applications for internal use
          </li>
          <li>
            Communicated with the development team and other departments by demonstrating the current status of each application
          </li>
          <li>
            Showed initiative and innovation by implementing features outside of project requirements that were well received by the
            development team
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container shadow-sm bg-light rounded-left p-3 mr-0 mt-4 experience">
    <div class="row experience-title ml-2">
      <h1 class="display-5">McMaster University</h1>
    </div>
    <div class="row experience-title ml-2">
      <p class="lead">Teaching Assistant</p>
    </div>
    <div class="row block-sm m-0">
      <div class="col-3 text-center position-relative align">
        <img src="../../assets/images/mcmaster.png" alt="" class="thumbnail">
      </div>
      <div class="col-9 align-fix">
        <b>September 2017 - Present</b>
        <ul class="item-description">
          <li>Assisted the instructor of an introductory Python programming course in teaching a lab section</li>
          <li>Was recognized as a competent and knowledgeable teaching assistant and was promoted to lead a lab section created by over-enrollment in January 2019</li>
          <li>Communicated with other lab TA's to ensure students questions were answered and the lab ran smoothly</li>
          <li>Ensured academic integrity by monitoring tests labs</li>
          <li>Resolved technical problems with computers & lab equipment</li>
          <li>Spread knowledge to students about the software engineering/computer science industry</li>
        </ul>
      </div>
    </div>
  </div>

</section>