  <section class="resume-component position-relative bg-light" id="intro">
    <div class="container flex-center-vertically intro-card">
      <div class="row justify-content-center">
        <img src="../../assets/images/profile-pic-zoom.png" alt="" class="profile-pic fade">
        <div class="col-md-12 text-left align-self-center text-intro">
          <div class="row shadow-sm p-3 mb-5 bg-light rounded-right">
            <div class="col">
              <h1 class="text-black display-4 text-sm">Hi, I'm Alex Trudeau</h1>
              <p class="lead">Software Engineering & Game Design</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>