<section class="resume-component position-relative bg-light" id="education">
  <div class="text-center section-head mb-3">
    <h1 class="display-4"><span>Education</span></h1>
  </div>

  <div class="container shadow-sm bg-light item-left">
    <div class="row item-title ml-2">
      <h1 class="display-5">McMaster University</h1>
    </div>
    <div class="row item-title ml-2">
      <p class="lead">Bachelor of Engineering: Software Engineering & Game Design (Co-op)</p>
    </div>
    <div class="row block-sm m-0">
      <div class="col-3 text-center position-relative align">
        <img src="../../assets/images/mcmaster.png" alt="" class="thumbnail">
      </div>
      <div class="col-9 align-fix">
        <b>Courses</b>
        <ul class="item-description">
          <li>Capstone Computer Game Design Project</li>
          <li>Data Structures and Algorithms</li>
          <li>Databases</li>
          <li>Introduction to Machine Learning</li>
          <li>The Big Questions (Astronomy)</li>
          <li>Engineering Mathematics</li>
          <li>Concurrent & Large System Design</li>
          <li>Sustainability & Ethics in Engineering</li>
          <li>Digital Media for Software Engineering</li>
          <li>Engineering Design & Graphics</li>
        </ul>
      </div>
    </div>
  </div>

</section>